@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Protest Riot', sans-serif;
    background-color: #ffffff; /* Background warna terang */
    color: #fdd891; /* Warna font utama */
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #47aaab; /* Warna header */
    color: #fcd790; /* Warna teks pada header */
    padding: 10px 20px;
    display: flex; /* Mengaktifkan flexbox */
    align-items: center; /* Menyelaraskan item secara vertikal */
    justify-content: space-between; /* Mendistribusikan ruang antar elemen */
}

header img {
    height: 50px; /* Mengatur tinggi gambar, sesuaikan sesuai kebutuhan */
    width: auto; /* Menjaga rasio aspek gambar */
}

header h1 {
    margin: 0 20px; /* Memberikan margin di sisi kiri dan kanan */
    flex-grow: 1; /* Memungkinkan judul tumbuh dan mengisi ruang tersedia */
    color: #d3ad58;
    text-shadow: 1px 1px 2px black;
}

header input[type="text"] {
    padding: 8px;
    margin: 0; /* Menghilangkan margin atas */
    border: none;
    border-radius: 5px;
    width: 30%; /* Mengatur lebar input */
    min-width: 150px; /* Menetapkan lebar minimal agar tidak terlalu kecil */
}

/*Ini Main*/

main {
    flex: 1;
    padding: 0 20px;
}

h1, h2, h3 , h4 {
    color: #6b6a6a;
}

#book-input h2 {
    text-align: center;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #a67c52;
}

#book-input, #book-shelves {
    background-color: #ffe4b4; /* Warna background untuk form input dan rak buku */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #B67352; /* Border color */
    color: #6b6a6a;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    box-sizing: border-box; /* Ensure padding does not affect total width */
    border-radius: 5px;
    border: 1px solid #B67352; /* Border color */
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    color: #6b6a6a;
}

.form-buttons {
    display: flex;
    justify-content: flex-start; /* Atau center, sesuai kebutuhan */
    gap: 10px; /* Memberikan ruang antar tombol */
}

button {
    background-color: #46a9aa; /* Warna tombol */
    color: #FEFBF6; /* Warna teks tombol */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Protest Riot', sans-serif;

    margin-top: 5px;
}

button:hover {
    background-color: #B67352; /* Warna tombol saat di-hover */
}

/*Ini Rak Buku*/

#book-shelves {
    display: flex; /* Mengaktifkan flexbox */
    flex-wrap: wrap; /* Memungkinkan item berpindah ke baris berikutnya jika tidak cukup ruang */
    justify-content: space-between; /* Mendistribusikan ruang antara item */
    gap: 20px; /* Memberikan jarak antara rak buku */
    margin-bottom: 20px;
}

#incompleteBookshelfList h3, #completeBookshelfList h3 {
    text-align: center; /* Memusatkan teks */
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #a67c52;
}

#book-shelves p {
    margin: 10px 0;
}

#incompleteBookshelfList, #completeBookshelfList {
    flex: 1; /* Masing-masing div mengambil ruang yang tersedia */
    min-width: 300px; /* Menetapkan lebar minimal untuk masing-masing div */
    background-color: #ffe4b4; /* Warna background untuk rak buku */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #B67352; /* Border color */
}

.delete-button {
    background-color: #d3302b;
}

.edit-button {
    background-color: #4A90E2;
}

.book-item {
    margin-bottom: 20px; /* Memberikan jarak antar item buku */
}


/*Ini Footer*/
footer {
    padding: 20px;
    background-color: #47aaab; /* Warna latar footer sesuai dengan palet */
    color: #ffffff; /* Warna teks */
    text-align: center; /* Memusatkan teks */
    /*border-top: 5px solid #ECB159; !* Garis batas atas dengan warna kontras *!*/
}

footer p {
    margin: 5px 0; /* Memberi jarak antar paragraf */
    text-shadow: 1px 1px black;
}

/*Ini Toast*/
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fde2b3;
    color: #6a6969;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a67c52;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}


.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px; /* Ukuran font yang lebih kecil untuk layar mobile */
        margin: 0 10px; /* Opsi untuk menyesuaikan margin jika diperlukan */
    }

    #incompleteBookshelfList, #completeBookshelfList {
        min-width: 0; /* Menghilangkan batasan lebar minimal */
        padding: 10px; /* Mengurangi padding untuk menyimpan ruang */
    }

    #book-shelves {
        flex-direction: column; /* Opsional, bergantung pada desain Anda */
        padding: 10px; /* Menyesuaikan padding jika diperlukan */
    }
}